body {
    background-color: rgb(31, 31, 31) !important;

}


.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  #text-color {
    color: lightslategray;
  }



