body {
    background-color: rgb(255, 255, 255) !important;
    font-family: "Pixelify Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;

}


.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

  }

  #text-color {
    color: rgb(0, 0, 0);
  }


img {
  max-width: 100%;
}
.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
}
.card:hover {
  transform: scale(1.05);
}

a, a:visited, a:hover, a:active {
  color: black !important;
}

.navbar-img {
  max-height: 50px;
}


